#################### Python #####################
**/__pycache__/
**.egg**/
dist/
build/


#################### Daft-Exprt #####################
datasets/
trainings/
tmp/


##### SLURM ######
slurm_*

### REAPER ####
src/daft_exprt/bin/reaper/linux/reaper
test_reaper.py